*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.Center{
    display: flex;
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
    flex-wrap: wrap;
}

section.Main{
    background-image: url(../images/bg.svg);
    background-position: center;
    background-size: cover;
    min-height: 700px;
    padding: 20px 0 80px 0;
}
.LogoMenu{
    width: 50%;

}
.Itens-menu{
    width: 50%;
}
.Itens-menu a{
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}
.Itens-menu a:hover{
    border-bottom: 2px solid #FFDD33;
}
.Itens-menu-Mobile{
    display: none;
    width: 50%;
    text-align: right;
    cursor: pointer;
}
.Menu_Mobile{
    opacity: 0;
    transition: 1s;
    position: absolute;
    left: 0;
    top: 76px;
    width: 100%;
    height: 100%;
    background-color: #255aff;
    text-align: center;

}
.show{
    opacity: 1;
}
.Menu_Mobile a{
    display: block;
    margin: 20px 0;
    text-decoration: none;
    color: white;
    font-size: 32px;
    width: 100%;
}
.Menu_Mobile a:hover{
    background-color: #0F3FD3;
}

.Menu{
    display: flex;
    width: 100%;
}

#contactbtn{
    padding: 7px 10px;
    border-radius: 10px;
}
#contactbtn:hover{
    border: 0;
    background-color: #0F3FD3;
}
.Mockup{
    color: white;
    text-align: center;
    width: 100%;
    padding-top: 120px;
}
.Mockup h1{
    font-size: 42px;
    padding-bottom: 5px;
}
.Mockup p{
    padding-bottom: 20px;
}

.Mockup img{
    max-width: 100%;
}
section.Marcas{
    padding: 70px 0;
}
section.Marcas img{
    width: 20%;
}
section.porque_nos{
    text-align: center;
    padding: 40px 0;
    background-color: #FBFCFE;
}
section.porque_nos > .Center> h2{
    font-size: 44px;
     text-align: center;
     width: 100%;
}
section.porque_nos > .Center> p{
    font-size: 14px;
    color: #7E92AC;
    text-align: center;
    width: 100%;
    padding-top: 5px;
}
.Diferenciais{
    display: flex;
    margin-top: 10px;
}
.Box-Diferenciais{
    box-shadow: 0px 20px 40px #2426721C;
    width: 31%;
    margin-right: 2%;
    padding: 30px 10px;
    border-radius: 10px;
}
.Box-Diferenciais p {
    color: #7E92AC;
    text-align: left;
    font-size: 15px;
    padding-top: 10px;
    letter-spacing: 0px;
    
}
section.cta{
    background-image: url(../images/BANNER\ IMG.png);
    height: 300px;
    color: white;
    text-align: center;
}
section.cta h2, section.cta p{
    width: 100%;
    padding-top: 10px;
    font-weight: normal;
    margin: 5px 0;
}
section.cta h2{
    padding-top: 30px;
    font-size: 42px;
}
#cnt_bnt{
    background-color: #FFDD33;
    padding: 10px 30px;
    text-decoration: none;
    margin: 0 auto;
    border-radius: 10px;
    color: #0F3FD3;
    font-weight: bold;
    margin-top: 15px;
}
.Beneficios_box{
    width: 45%;
    margin-top: 70px;
}
.Beneficios_box h2{
    font-size: 42px;
    margin-bottom: 20px;
}
.Beneficios_box img{
    display: inline-block;
    vertical-align: middle;
    width: 70px;
} 
.Beneficios_box p{
    vertical-align: middle;
    font-size: 14px;
}  
.Beneficios_box span{
    display: inline-block;
    width: calc(100% - 70px);
}
.img_beneficios{
    width: 55%;
    margin-top: 10px;
}
.img_beneficios img{
    max-width: 100%;
}
#cnt_bnt2{
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    background-color: #255AFF;
    color: white;
}
section.Depoimentos {
    background-color: #FBFCFE;
    padding: 40px 0;
}
section.Depoimentos h1{
    text-align: center;
    font-size: 36px;
}
.container-slider{
    overflow: hidden;
}
.Container_slider_single{
    float: left;
    background-color:white;
    text-align: center;
    padding:15px;
    border-radius:10px;
}
.Container_slider_single p {
    margin:15px 0;
    color:#7E92AC;
    font-size: 14px;
}
.slick-slide {
    margin-left:27px;

  }

  /* the parent */
  .slick-list {
    margin-left:-27px;
   
  }

/****SLICK SLIDER****/

.slick-dotted ul{
    display: block;
	list-style-type: none;
	text-align: center;
	position: relative;
	top:40px;
}

.slick-dotted li{
	display: inline-block;
	margin: 0 7px;
}

.slick-dotted button:focus{
	outline: 0;
}

.slick-dotted li button{
	width: 16px;
	height: 16px;
	border-radius: 8px;
	color: #d8d8d8;
	border-width: 0;
	background: #d8d8d8;
	opacity: 1;
	cursor: pointer;
}

li.slick-active button{
	background: #373855;
	color: #373855;
}

.slick-slide:focus { outline: none; }

.Contato{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.Contato h1{
    width: 100%;
    text-align: center;
    font-size: 36px;
} 
.Contato input[type="text"]{
    width: 100%;
    height: 40px;
    margin: 20px 0;
    background-color: #C3CCE8;
    color: #7E92AC;
    border: 1px solid #C3CCE8;
    padding-left: 10px;
    border-radius: 5px;
}
.Contato input[type="email"]{
    width: 100%;
    height: 40px;
    background-color: #C3CCE8;
    color: #7E92AC;
    border: 1px solid #C3CCE8;
    padding-left: 10px;
    border-radius: 5px;
}
.Contato input[type="submit"]{
    width: 100%;
    height: 40px;
    background-color: #255AFF;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    
}
#Mensagem{
    height: 130px;
    color: #7E92AC;
    border: 1px solid #C3CCE8;
    padding-bottom: 100px;
    padding-left: 10px;
    border-radius: 5px;
}
.Contato form{
    width: 100%;
}

footer{
    margin-top: 30px;
    background-color: #255AFF;
    color: white;
    padding: 30px 0;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.Text_footer{
    font-weight: bolder;   
}
footer > .Center {
    width: 100%;
    display: flex;
    align-items: center;
}


@media screen and (max-width: 760px) {    
    
    .Itens-menu-Mobile{
        display: block;
    }
    .Menu_Mobile{
        display: block;
    }
    .Itens-menu{
        display: none;
    }

    .Diferenciais{
        flex-wrap: wrap;
    }
    .Box-Diferenciais{
        width: 100%;
        margin-right: 0px;
    }
    section.Marcas > .Center{
        flex-wrap: nowrap;
        flex-direction: column; 
        align-items: center;  
    }
    section.Marcas img{
        max-width: 300px;
        width: 100%;
    }
    .Beneficios_box, .img_beneficios{
        width: 100%;
    }
    .Beneficios_box h2{
        text-align: center;
    }
    .Centerbnt{
        text-align: center;
    }
    #cnt_bnt2{
        padding: 3% 20%;
    }
    #hiden_on_mobile{
        display: none;
    }

    .Text_footer{
        width: 100%;
        text-align: center;
    }
    


}