*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.Center{
    display: flex;
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
    flex-wrap: wrap;
}

section.Main{
    background-image: url(../images/bg.svg);
    background-position: center;
    background-size: cover;
    min-height: 700px;
    padding: 20px 0 80px 0;
}
.LogoMenu{
    width: 50%;

}
.Itens-menu{
    width: 50%;
}
.Itens-menu a{
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}
.Itens-menu a:hover{
    border-bottom: 2px solid #FFDD33;
}
.Menu{
    display: flex;
    width: 100%;
}

#contactbtn{
    background-color: #0F3FD3;
    padding: 7px 10px;
    border-radius: 10px;
}
#contactbtn:hover{
    border: 0;
}
.Mockup{
    color: white;
    text-align: center;
    width: 100%;
    padding-top: 120px;
}
.Mockup h1{
    font-size: 42px;
    padding-bottom: 5px;
}
.Mockup p{
    padding-bottom: 20px;
}

.Mockup img{
    max-width: 100%;
}