*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.Center{
    display: flex;
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
    flex-wrap: wrap;
}

section.Main{
    background-image: url(../images/bg.svg);
    background-position: center;
    background-size: cover;
    min-height: 700px;
    padding: 20px 0 80px 0;
}
.LogoMenu{
    width: 50%;

}
.Itens-menu{
    width: 50%;
}
.Itens-menu a{
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}
.Itens-menu a:hover{
    border-bottom: 2px solid #FFDD33;
}
.Menu{
    display: flex;
    width: 100%;
}

#contactbtn{
    padding: 7px 10px;
    border-radius: 10px;
}
#contactbtn:hover{
    border: 0;
    background-color: #0F3FD3;
}
.Mockup{
    color: white;
    text-align: center;
    width: 100%;
    padding-top: 120px;
}
.Mockup h1{
    font-size: 42px;
    padding-bottom: 5px;
}
.Mockup p{
    padding-bottom: 20px;
}

.Mockup img{
    max-width: 100%;
}
section.Marcas{
    padding: 70px 0;
}
section.Marcas img{
    width: 20%;
}
section.porque_nos{
    text-align: center;
    padding: 40px 0;
    background-color: #FBFCFE;
}
section.porque_nos > .Center> h2{
    font-size: 44px;
     text-align: center;
     width: 100%;
}
section.porque_nos > .Center> p{
    font-size: 14px;
    color: #7E92AC;
    text-align: center;
    width: 100%;
    padding-top: 5px;
}
.Diferenciais{
    display: flex;
    margin-top: 10px;
}
.Box-Diferenciais{
    box-shadow: 0px 20px 40px #2426721C;
    width: 31%;
    margin-right: 2%;
    padding: 30px 10px;
    border-radius: 10px;
}
.Box-Diferenciais p {
    color: #7E92AC;
    text-align: left;
    font-size: 15px;
    padding-top: 10px;
    letter-spacing: 0px;
    
}

@media screen and (max-width: 760px) {    /*Mobile First*/
    
    .Diferenciais{
        flex-wrap: wrap;
    }
    .Box-Diferenciais{
        width: 100%;
        margin-right: 0px;
    }
    section.Marcas > .Center{
        flex-wrap: nowrap;
        flex-direction: column; 
        align-items: center;  
    }
    section.Marcas img{
        max-width: 300px;
        width: 100%;
    }
}